{% extends 'index.html' %}

{% block title %}Добавление услуг{% endblock %}

{% block context %}
	<h1>Добавление услуг</h1>
	<a href="/login">Дверь</a>
	<form method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td><lable for="title">Название</lable></td>
				<td><input type="text" name="title" id="title"></td>
			</tr>
			<tr>
				<td><lable for="description">Описание</lable></td>
				<td><textarea name="description" id="description" cols="30" rows="10"></textarea></td>
			</tr>
			<tr>
				<td><lable for="image">Изображение</lable></td>
				<td><input type="file" name="image" id="image"></td>
			</tr>
			<tr>
				<td></td>
				<td><button>Отправить</button></td>
			</tr>
		</table>
	</form>
{% endblock %}
