<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}Главная{% endblock %} — Сайт
	</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
	<header>
		<nav>
			<a href="/">Главная</a>
			<a href="/">Услуги</a>
			<a href="/">О нас</a>
			<a href="/">Контакты</a>
			{% if session.user %}
			{{ session.user }}
			{% endif %}
		</nav>
	</header>
	<main>
		{% if messages %}
			<article>
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			</article>
		{% endif %}
		{% block context %}
			<h1>Hello</h1>
		{% endblock %}
	</main>
</body>
</html>